* {
  box-sizing: border-box;
}
body {
  background-color: hsl(30, 56%, 93%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: hsl(0, 0%, 100%);
  width: 375px;
  border-radius: 10px;
  padding: 20px 20px 10px 20px;
  margin-bottom: 10px;
}
.container img {
  width: 335px;
  border-radius: 7px;
}
.sectionOne {
  font-family: "young serif";
  font-weight: 300;
}

.sectionOne p {
  font-family: outfit;
  font-size: 8px;
  color: hsl(30, 10%, 34%);
}
.sectionTwo {
  background-color: hsl(330, 100%, 98%);
  padding: 2px;
  border-radius: 5px;
  font-family: outfit;
  font-weight: 400;
  margin-top: 20px;
}
.sectionTwo h4 {
  color: hsl(332, 51%, 32%);
  margin-left: 25px;
  font-size: 8px;
}
.sectionTwo li {
  font-size: 8px;
  padding: 5px;
  padding-left: 10px;
  color: hsl(30, 10%, 34%);
}

.sectionThree {
  border-bottom: 1px solid whitesmoke;
}
.sectionThree h3 {
  font-family: young serif;
  font-weight: 200;
  color: hsl(14, 45%, 36%);
  font-size: 16px;
}

.sectionThree li {
  font-size: 8px;
  font-family: outfit;
  padding-left: 15px;
  color: hsl(30, 10%, 34%);
  line-height: 2;
  color: hsl(14, 45%, 36%);
}
.sectionThree ul {
  padding: 0;
  margin-left: 10px;
}
.sectionThree p {
  color: hsl(30, 10%, 34%);
  font-weight: 400;
}

.sectionFour {
  border-bottom: 1px solid whitesmoke;
}
.sectionFour h3 {
  font-family: young serif;
  font-weight: 200;
  color: hsl(14, 45%, 36%);
  font-size: 16px;
}

.sectionFour li {
  font-size: 8px;
  font-family: outfit;
  padding-left: 15px;
  color: hsl(30, 10%, 34%);
  line-height: 2;
  color: hsl(14, 45%, 36%);
  font-weight: 500;
}
.sectionFour ol {
  padding: 0;
  margin-left: 10px;
}
.sectionFour p {
  color: hsl(30, 10%, 34%);
  font-weight: 400;
}

.sectionFive h3 {
  color: hsl(14, 45%, 36%);
  font-family: young serif;
  font-size: 16px;
  font-weight: 200;
}

.sectionFive p {
  font-size: 9px;
}

tr {
  font-size: 8px;
  font-weight: lighter;
}
td {
  border-bottom: 1px solid whitesmoke;
  padding-left: 20px;
}
